doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    title Home
  body 
    if user_session
      .header
        .container-fluid.bg-dark.text-white.py-3
          .row.align-items-center
            .col-sm-4
              a(href="/users/add", class="btn btn-primary" , style="width: 45%;") Ajoute d'utilisateur
            .col-sm-4.text-center
              h1.mb-0.center Home
            .col-sm-4.text-end
              a(href="/register/logout", class="btn btn-primary" , style="width: 45%;") Logout
      
      if users
        if users.length > 0
          table(class="table table-striped" style="margin-top:50px") 
            thead 
              tr  
                th(scope="row") Nom 
                th(scope="row") Age 
                th(scope="row") Numéro de telephone 
                th(scope="row") Email 
                th(scope="row", colspan="3") Actions 
            tbody 
              each user in users
                tr 
                  td #{user.nom_complet}
                  td #{user.age}
                  td #{user.phone}
                  td #{user.email}
                  td 
                    a(data-bs-toggle="tooltip", data-bs-title="View details", data-bs-placement="top", class="btn btn-primary btn-sm", href=`/users/view/${user._id}`) view
                  td
                    a(data-bs-toggle="tooltip", data-bs-title="Edit user", data-bs-placement="top", class="btn btn-secondary btn-sm", href=`/users/edit/${user._id}`) edit  
                  td
                    form(action=`/users/delete/${user._id}?_method=DELETE`, method="post") 
                      button(type="submit", data-bs-toggle="tooltip", data-bs-title="Delete user", data-bs-placement="top", class="btn btn-danger btn-sm") delete
        else
          .no-users
            h1 Il n'existe aucun utilisateur dans la base de données
      else
        .error-message
          h1 Une erreur s'est produite en récupérant les utilisateurs


    else  
      .header
        .container-fluid.bg-dark.text-white.py-3
          .row.align-items-center
            .col-sm-6
              h1.mb-0 Home
            .col-sm-6.text-end
              a(href="/register/login", class="btn btn-primary" , style="width: 45%;") Login

      if users
        if users.length > 0
          table(class="table table-striped" style="margin-top:50px") 
            thead 
              tr  
                th(scope="row") Nom 
                th(scope="row") Age 
                th(scope="row") Numéro de telephone 
                th(scope="row") Email 
                th(scope="row", colspan="3") Actions 
            tbody 
              each user in users
                tr 
                  td #{user.nom_complet}
                  td #{user.age}
                  td #{user.phone}
                  td #{user.email}
                  td 
                    a(data-bs-toggle="tooltip", data-bs-title="View details", data-bs-placement="top", class="btn btn-primary btn-sm", href="/register/login") view
                  td
                    a(data-bs-toggle="tooltip", data-bs-title="Edit user", data-bs-placement="top", class="btn btn-secondary btn-sm", href="/register/login") edit  
                  td
                    a(data-bs-toggle="tooltip", data-bs-title="Delete user", data-bs-placement="top", class="btn btn-danger btn-sm", href="/register/login") delete  
        else
          .no-users
            h1 Il n'existe aucun utilisateur dans la base de données
      else
        .error-message
          h1 Une erreur s'est produite en récupérant les utilisateurs


    script(src='/js/bootstrap.bundle.min.js') 
